* {
  box-sizing: border-box;
}

.container {
  max-width: 1115px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: Manrope;
}

/* HEADER */
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

.header__logo-link {
  margin-right: 32px;
}

.header__menu {
  display: flex;
  margin: 0 auto 0 0;
}

.header__menu-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #18191F;
}

.header__menu-list:hover {
  color: blue;
  font-size: 15px;
}

.header__menu-list + .header__menu-list {
  margin-left: 32px;
}

/* SERVICES*/
.services {
  background: #0B0D17;
}

.services__inner {
  padding: 80px 0;
}

.services__header {
  width: 730px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 48px;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 346px);
  margin-bottom: 48px;
  gap: 30px;
}

.services__grid-menu {
  background-color: white;
  padding: 40px 32px;
  border-radius: 8px;
}

.services__grid-img {
  margin-bottom: 56px;
}

.services__grid-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #18191F;
  margin-bottom: 12px;
}

.services__grid-text {
  font-size: 16px;
  line-height: 26px;
  color: #18191F;
  margin-bottom: 40px;
}

.services__grid-link {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #8C30F5;
  position: relative;
  opacity: 0.5;
}

.services__grid-link::after {
  content: url("../img/services/Vector.svg");
  position: absolute;
  left: 53px;
  top: 3px;
  opacity: 0.5;
}

.services__grid-link:hover {
  font-size: 13px;
  opacity: 1;
}

.services__grid-button {
  background: #0B0D17;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  padding: 16px 25px 16px 0;
  width: 180px;
  height: 62px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 465px;
  position: relative;
}

.services__grid-button:hover {
  color: #ddae67;
  border: 2px solid #ddae67;
}

.services__grid-button::after {
  content: url("../img/services/Vector2.svg");
  position: absolute;
  top: 20px;
  left: 140px;
}

.services__grid-button::after:hover {
  background-color: #ddae67;
}

/* MEDIA */
.media__inner {
  padding: 59px 109px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.media__inner::before {
  content: '';
  position: absolute;
  width: 1110px;
  height: 2px;
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
  right: 0;
  left: 0;
  top: 16px;
}

.media__inner::after {
  content: '';
  position: absolute;
  width: 1110px;
  height: 2px;
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
  right: 0;
  left: 0;
  bottom: 16px;
}

.media__link + .media__link {
  margin-left: 64px;
}

/* TAILOR */
.tailor__inner {
  padding: 64px 0;
}

.tailor__header {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #18191F;
  margin-bottom: 8px;
}

.tailor__text {
  max-width: 540px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #18191F;
  margin: 0 auto 48px;
}

.tailor__grid {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 148px);
  row-gap: 64px;
  column-gap: 30px;
}

.tailor__grid-img {
  margin-bottom: 24px;
}

.tailor__grid-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #18191F;
  margin-bottom: 8px;
}

.tailor__grid-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #18191F;
}

/* FOOTER */
.footer {
  background: #0B0D17;
}

.footer__inner {
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
}

.footer__left-img {
  margin-bottom: 24px;
}

.footer__left-download {
  margin-right: 24px;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  transition: all 0.3s;
}

.footer__left-download:hover {
  color: #ae95f1;
}

.footer__left-menu {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 24px 0;
}

.footer__left-list {
  margin-right: 24px;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  transition: all 0.3s;
}

.footer__left-list:hover {
  color: #ae95f1;
}

.footer__left-text {
  font-size: 14px;
  line-height: 24px;
  color: #D9DBE1;
}

.footer__right-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #D9DBE1;
  margin-bottom: 16px;
}

.footer__right-link {
  margin-bottom: 16px;
}
/*# sourceMappingURL=style.css.map */